streamlit
langchain
langchain-community
langchain-core
langchain-google-genai
google-generativeai
sentence-transformers
chromadb
pysqlite3-binary
pytesseract
pdfplumber
pypdf
Pillow
opencv-python-headless
openai-whisper
streamlit-mic-recorder
fpdf
python-dotenv