streamlit
langchain
langchain-community
langchain-google-genai
langchain-huggingface
google-generativeai
sentence-transformers
chromadb
pysqlite3-binary
pytesseract
pdfplumber
pypdf
Pillow
opencv-python-headless
openai-whisper
streamlit-mic-recorder
fpdf
python-dotenv
streamlit
langchain
langchain-chroma
chromadb